https://localhost:443

root * /usr/share/caddy
route /api/* {
    # global rate limit
    rate_limit {host} 100r/m
    # rate limit per "client"
    rate_limit {remote.host} 25r/m
    reverse_proxy http://server:8080
}
encode gzip
file_server {
    precompressed br
}
