html,
body,
#app {
    height: 100%;
    margin: 0;
}

.small-btn {
    width: 1.5em;
    height: 1.5em;
    max-height: 1.5em;
    background-color: transparent;
    text-align: center;
    font-size: initial;
}

.small-btn:hover {
    background-color: #f4f4f4;
}

.border {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.no-border {
    border: 2px;
}

.float-right {
    float: right;
}

@media (width <= 768px) {
    .float-right {
        float: left;
    }
}
